extends layout

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Ricky Chen

        //- Feel free personalize the title below
        p.lead.text-light
          | Treehouse Full Stack JavaScript Techdegree Student.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am a Full Stack Javascript Student living in Montreal, Canada. 
            br
            | Looking to switch career to become a Developer. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li HTML
          li CSS
          li Node
          li Express
          li Pug
          li MySQL
          li MongoDB
        h6 Contact Info

        //- Add your own contact info
        ul
          li (514) 991-9198
          li ziwangchen@hotmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.fa.fa-linkedin.expanded.button.width-60(href='https://www.linkedin.com/in/ricky-zi-wang-chen-07a39292/', target="_blank")
        a.fa.fa-github.expanded.button.width-60(href='https://github.com/ziziw', target="_blank")
        a.fa.fa-twitter.expanded.button.width-60(href='https://twitter.com/ziwangchen', target="_blank")
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
