extends layout

block content
  
  //- Add a back link to the Main Route. 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') â† Back
  
  //- Display error properties.
  h1= error.message
  h2= 'Status: ' + error.status
  pre= error.stack
