extends layout

block content 
  article.grid-container.portfolio-intro
    div
      h1 My Portfolio
      p.lead.text-light
        | My name is Ricky Chen! I am a Full Stack Javascript student. 
        br
        | Looking to switch career to be a Developer! 
        br
        | This portfolio is built using Node.Js and Express.Js. 
        br
        | It showcases the projects that I've built for the Treehouse Full Stack Javascript Techdegree.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      //- Generate a thumbnail for each project in the data.json file. 
      each project in projects
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5= project.project_name
      
